.form .row label{
    display: block;
    text-align: left;
    color: #a9a9a9;
    width: 100%;
    font-size: 0.8em;
    font-weight: 400;
    margin-bottom: 3.5px;
    text-transform: capitalize;
}

.form .row input[type='file']{
    float: left;
}

.row input,
.row textarea,
.row select{
    font-size: 0.8em !important;
}

.row select{
    height: auto !important;
}

.form .row textarea{
    height: 150px !important;
    resize: none;
}

.form .row{
    margin-bottom: 15px;
}

.form .row:last-of-type{
    margin-bottom: 0;
    text-align: right;
}

.form .row ul{
    text-align: left;
    display: block;
    width: 100%;
    clear: both;
    margin: 0;
    padding: 0;
}

.form .row ul li{
    display: inline-block;
    color: #f15a24;
    font-size: 0.7em;
}
