.cart{
    width: 100%;
    height: auto;
}

.cart .cart-item{
    width: 85%;
    margin-left: 7.5%;
    height: 180px;
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    -webkit-box-shadow: 0 0 4px #323232;
    box-shadow: 0 0 4px #323232;
    border-bottom: none;
    border-radius: 5px;
    border-bottom: 1px solid #DFDFDF\9;
}

.cart .cart-item .delete{
    width: 25px;
    height: 25px;
    top: 5px;
    right: 5px;
    z-index: 10;
    position: absolute;
    cursor: pointer;
}

.cart .cart-item .delete i{
    width: 25px;
    height: 25px;
    color: #ff6d84;
}

.cart .cart-item .photo{
    float: left;
    height: 100%;
    width: 230px;
    margin-right: 5px;
}

.cart .cart-item .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart .cart-item .description{
    width: calc(100% - 235px);
    float: left;
    height: 100%;
    padding-left: 10px;
    position: relative;
}

.cart .cart-item .description .title{
    width: calc(100% - 50px);
    height: 45px;
    padding-bottom: 5px;
    margin-right: 50px;
    border-bottom: 1px solid #B7AE9F;
}

.cart .cart-item .description .title h3{
    float: left;
    margin: 0;
    line-height: 40px;
    font-size: 1.5em;
    white-space: nowrap;
    color: #ff6d84;
    font-family: sail;
    font-weight: bold;
}

.cart .cart-item .description .title label{
    float: right;
    line-height: 30px;
    color: #ff6d84;
    font-weight: bold;
    font-family: 'Arapey';
    font-size: 1.4em;
}

.cart .cart-item .description p{
    margin: 0;
    width: calc(100% - 50px);
    display: block;
    text-align: left;
    font-size: 1em;
    margin-top: 10px;
    color: #606060;
    font-family: 'Arapey';
}

.cart .cart-item .description .footer{
    width: calc(100% - 60px);
    height: 35px;
    position: absolute;
    left: 10px;
    bottom: 0;
}

.cart .cart-item .description .footer .quantity-container{
    float: left;
    height: 100%;
}

.cart .cart-item .description .footer .quantity-container label{
    font-family: 'Arapey';
    color: #B7AE9F;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 1em;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
}

.cart .cart-item .description .footer .quantity-container input{
    width: 75px;
    margin-top: 2.5px;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    text-align: center;
    border: none;
    border-bottom:1px solid #a9a9a9;
}

.cart .cart-item .description .footer .sum-container{
    float: right;
    height: 100%;
}

.cart .cart-item .description .footer .sum-container label{
    font-family: 'Arapey';
    color: #B7AE9F;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 1em;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
}

.cart .cart-item .description .footer .sum-container strong{
    font-family: 'Arapey';
    color: #ff6d84;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 1.4em;
    display: inline-block;
    vertical-align: top;
}

.cart .cart-item .description .footer .sum-container strong span{
    height: 35px;
    line-height: 35px;
}

section#cart .button-row{
    width: 85%;
    margin-top: 25px;
    margin-left: 7.5%;
    height: 35px;
}

section#cart .total{
    width: 85%;
    display: block;
    height: auto;
    overflow: hidden;
    margin-top: 25px;
    margin-left: 7.5%;
}

section#cart .total label{
    float: right;
    font-family: 'Arapey';
    font-size: 1.2em;
    color:#ff6d84;
    line-height: 35px;
    margin-right: 15px;
}

section#cart .total p{
    float: right;
    font-family: sail;
    line-height: 35px;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    color:#ff6d84;
    margin-right: 10px;
}

section#cart .button-row a{
    float: right;
    width: 150px;
    height: 35px;
    background-color: #ff6d84;
    color: white;
    text-decoration: none;
    line-height: 35px;
    font-family: 'Arapey';
    border-radius: 5px;
    border: 1px solid #ff6d84;
}

section#cart .button-row a:hover{
    background-color: white;
    border:1px solid #ff6d84;
    color:#ff6d84;
    font-weight: bold;
}