.date{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: right;
    font-family: 'Alegreya';
    color:#606060;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 25px;
}

.content{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.content .photo{
    float: left;
    width: 45%;
    height: auto;
}

.content .photo img{
    width: 100%;
    height: auto;
}

.content .description{
    float: right;
    width: calc(55% - 50px);
    margin-left: 50px;
    margin-bottom: 20px;
}

.content .price label{
    display: inline-block;
    width: 100px;
    height: 40px;
    padding-bottom: 20px;
    line-height: 40px;
    color: #ff6d84;
    font-family: 'Alegreya';
    font-size: 1.7em;
    font-weight: bold;
    vertical-align: top;
}

.content .price{
    width: 100%;
    height: 60px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #606060;
}

.content .description h3{
    text-align: left;
    color:#ff6d84;
    font-size: 1.8em;
    font-family: sail;
    margin: 0;
    margin-bottom: 50px;
}

.content .description p{
    text-align: justify;
    margin: 0;
    display: block;
    margin-bottom: 25px;
    padding-bottom: 0;
    font-size: 1em;
    line-height: 1.1em;
    color: #606060;
    font-family: 'Alegreya';
}

.content .description a{
    width: 100%;
    display: block;
    text-decoration: none;
    height: 37.5px;
    border-radius: 5px;
    border:1px solid #606060;
    color: #606060;
    font-weight: bold;
    background-color: #f3f0e9;
    line-height: 37.5px;
    cursor: pointer;
}