div.item{
    display: inline-block;
    margin: 10px;
    height: auto;
    overflow: hidden;
    width: 240px;
    margin-bottom: 25px;
    vertical-align: top;
}

div.item div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    -webkit-transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Safari */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

div.item div img:hover{
    opacity: 0.5;
    transform: scale(1.1);
}

div.item div.photo{
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 230px;
    background-color: black;
    -webkit-box-shadow: 0 16px 8px -8px #696969;
    -moz-box-shadow: 0 16px 8px -8px #696969;
    box-shadow: 0 16px 8px -8px #696969;
    margin-bottom: 15px;
}

div.item div.description h3{
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    line-height: 25px;
    height: 65px;
    text-align: center;
    font-size: 1.7em;
    color:#ff6d84;
    font-family: sail;
    font-weight: bold;
}

section.light-section div.item div.description p{
    color:#606060;
}

section.dark-section div.item div.description p{
    color:white;
}

div.item div.description p{
    margin: 0;
    padding: 5px;
    padding-bottom: 0;
    font-size: 1em;
    text-align: justify;
    font-family: 'Arapey';
    line-height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    height: 5.5em;

}

div.item div.description .price{
    width: 100%;
    height: 45px;
    padding-top: 10px;
    border-top: 1px solid #7e7e7e;;
}

div.item div.description .price .button{
    display: block;
    height: 35px;
    width: calc(100% - 110px);
    background-color: #7e7e7e;
    color:white;
    float: right;
    border:1px solid #7e7e7e;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em;
    line-height: 32px;
    font-family: 'Arapey';
}

div.item div.description .price .button:hover{
    background-color: white;
    color: #7e7e7e;
    font-weight: bold;
}

div.item div.description .price label{
    float: left;
    width: 100px;
    height: 35px;
    padding-left: 10px;
    display: block;
    color:#ff6d84;
    font-family: 'Arapey';
    text-align: left;
    font-size: 1.8em;
    font-weight: bold;
    vertical-align: top;
}

div.item div.description .price label sup{
    font-size: 0.6em;
}