{% extends "public/page-base.html.twig" %}

{% block pageStylesheets %}

    <link rel="stylesheet" href="{{ asset('css/page-base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">

{% endblock %}

{% block content %}

    <main>

        <section id="registration">

            <h2>Registracija</h2>

            {% include 'public/registration/sections/form.html.twig' %}

        </section>

    </main>

{% endblock %}