<section class="section light-section" id="feedbacks">

    <h2 class="animated-element">Atsiliepimai</h2>

    <div class="feedback animated-element">

        <span>

            <img alt="left quates" src="{{ asset('img/quates.svg') }}">

        </span>

        <p>
            Tobulo skonio a la Napoleon! Šviežios avietės priduoda nepakartojamą skonį  :) Ačiū!
        </p>

        <label>

            Rasa Širmulienė

        </label>

    </div>

    <div class="feedback animated-element">

        <span>

            <img alt="left quates" src="{{ asset('img/quates.svg') }}">

        </span>

        <p>
            Desertų GURU! Neįmanoma persivalgyti Miglės meno kūrinių.
        </p>

        <label>

            Aurika Račinskienė

        </label>

    </div>

    <div class="feedback animated-element">

        <span>

            <img alt="left quates" src="{{ asset('img/quates.svg') }}">

        </span>

        <p>
            Visiems rekomenduoju, net ir nemokančiams gaminti! Atrasite save naujuose vaidmenyse.
        </p>

        <label>

            Gintarė Arlauskienė

        </label>

    </div>

    <div class="cake-logo">

        <img src="{{ asset("img/cake.svg") }}">

    </div>

</section>