{% for photo in gallery.photos %}

    <div onclick="openModal(this)" class="gallery animated-element">

        <div class="photo">

            <img src="{{ asset('photos/'~photo.src) }}">

        </div>

    </div>

{% endfor %}

{% if gallery.photos | length == 0 %}

    <div class="no-data">

        <p>Atsiprašome, šiuo metu nuotraukų šioje galerijoje nėra</p>
        <a href="/galleries/1" class="button">Grįžti</a>

    </div>

{% else %}

    <div class="button-row animated-element">

        <a href="/galleries/1">Grįžti</a>

    </div>

{% endif %}