{% extends "public/page-base.html.twig" %}

{% block pageStylesheets %}

    <link rel="stylesheet" href="{{ asset('css/public/page-base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/public/course-element.css') }}">
    <link rel="stylesheet" href="{{ asset('css/public/courses.css') }}">
    <link rel="stylesheet" href="{{ asset('css/public/pagination.css') }}">

{% endblock %}

{% block content %}

    <main>

        <section id="courses">

            <h2>Mokymai</h2>

            {% include 'public/courses/sections/courses.html.twig' %}
            {% include 'public/courses/sections/pagination.html.twig' %}

        </section>

    </main>

{% endblock %}