section#products{
    width: 100%;
    position: relative;
    height: auto;
    overflow: visible;
    background-color: #c5beb2;
    padding: 125px;
    padding-top: 75px;
    padding-bottom: 50px;
    border-top: 2px solid #ff6d84;
}

section#products > div:nth-child(1) h2{
    text-align: center;
    font-family: sail;
    color:#ff6d84;
    font-size: 2.3em;
    opacity: 0;
    transform: translateY(150px);
}

section#products > div:nth-child(2){
    margin-top: 75px;
    margin-bottom: 25px;
    text-align: center;
    padding-bottom: 25px;
}