{% extends "public/page-base.html.twig" %}

{% block pageStylesheets %}

    <link rel="stylesheet" href="{{ asset('css/page-base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/course.css') }}">

{% endblock %}

{% block content %}

    <main>

        <section id="course">

            <h2>{{ course.title }}</h2>

            {% include 'public/course/sections/course.html.twig' %}

        </section>

    </main>

{% endblock %}