{% extends "public/page-base.html.twig" %}

{% block pageStylesheets %}

    <link rel="stylesheet" href="{{ asset('css/item.css') }}">
    <link rel="stylesheet" href="{{ asset('css/page-base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/deep-navigation.css') }}">

{% endblock %}

{% block content %}

    <main>

        <section id="categories">

            {% include 'public/categories/sections/deep-navigation.html.twig' %}

            {% if parent is defined %}

                <h2>{{ parent.title }}</h2>

            {% else %}

                <h2>Produktų kategorijos</h2>

            {% endif %}

            {% include 'public/categories/sections/categories.html.twig' %}

        </section>

    </main>

{% endblock %}