{% extends "private/page-base.html.twig" %}

{% block pageStylesheets %}



{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

        <h2>Grafikai</h2>

    </div>

{% endblock %}

{% block javascripts %}



{% endblock %}