<div class="modal" id="add-product-to-cart">

    {% include 'public/loader.html.twig' %}

    <div class="header">

        <p>Pridėti prekę į krepšelį</p>

        <i onclick="closeModal()" class="material-icons">clear</i>

    </div>

    <div class="content">

        <div class="row">

            <div class="col">Prekės pavadinimas :</div>

            <div class="col product-name"></div>

        </div>

        <div class="row">

            <div class="col">Kaina :</div>

            <div class="col product-price"><span></span></div>

        </div>

        <div class="row">

            <div class="col">Kiekis :</div>

            <div class="col product-quantity">

                <input type="number" value="1" min="1" id="quantity">

            </div>

        </div>

        <div class="row">

            <div class="col sum">Suma :</div>

            <div id="sum" class="col sum"></div>

        </div>


    </div>

    <div class="footer">

        <button disabled onclick="addProduct()">Pridėti</button>

    </div>

</div>

