<div class="modal photo-modal">

    <div class="arrow">

        <i onclick="previousPhoto()" class="material-icons">keyboard_arrow_left</i>

    </div>

    <div class="content">

        <div class="close">

            <i onclick="closeModal()" class="material-icons">clear</i>

        </div>

        <img src="">

    </div>

    <div class="arrow">

        <i onclick="nextPhoto()" class="material-icons">keyboard_arrow_right</i>

    </div>



</div>

