nav#deep-navigation{
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 25px;
}


nav#deep-navigation .deep-menu-item a{
    line-height: 40px;
    font-family: 'Roboto';
    color: #ff6d84;
    padding: 0 15px 0 35px;
}

.deep-menu-item {
    margin-bottom: 15px;
    text-align: center;
    display: inline-block;
    margin-right: 25px;
    height: 40px;
    position: relative;
    background-color: #f3f0e9;
    -webkit-box-shadow: 0 8px 4px -4px #696969;
    -moz-box-shadow: 0 8px 4px -4px #696969;
    box-shadow: 0 8px 4px -4px #696969;
}
.deep-menu-item:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
.deep-menu-item:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #f3f0e9;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

@media only screen and (max-width: 450px){
    .deep-menu-item{
        display: block;
    }
}