header{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    text-align: center;
    -webkit-box-shadow: 0 0 4px #323232;
    box-shadow: 0 0 4px #323232;
    border-bottom: none;
    border-bottom: 1px solid #DFDFDF\9;
    overflow: visible;
    position: relative;
    background-color: #f3f0e9;
    padding-top: 10px;
}

header > div:first-of-type{
    width: 100%;
    margin-bottom: 10px;
    height: auto;
    overflow: hidden;
    text-align: center;
}

header #logo{
    display: inline-block;
    height: 100px;
    position: relative;
}
header #logo img{
    height: 100px;
    width: auto;
}