section#product h2{
    margin-bottom: 50px;
}

div#description{
    width: calc(55% - 50px);
    margin-left: 50px;
    height: auto;
    float: left;
    text-align: center;
    padding: 10px 25px;
}

div#description p{
    text-align: justify;
    margin: 0;
    display: block;
    margin-bottom: 25px;
    padding-bottom: 0;
    font-size: 1em;
    line-height: 1.1em;
    color: #606060;
    font-family: 'Alegreya';
}

div#description .price{
    width: 100%;
    height: 60px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #606060;
}

div#description .price OpenSans{
    display: inline-block;
    height: 40px;
    padding-bottom: 20px;
    line-height: 40px;
    color: #ff6d84;
    font-family: 'Alegreya';
    font-size: 1.7em;
    font-weight: bold;
    vertical-align: top;
}

div#description button{
    width: 100%;
    height: 37.5px;
    margin-bottom: 65px;
    border-radius: 5px;
    border:1px solid #606060;
    color: #606060;
    font-weight: bold;
    background-color: #f3f0e9;
    line-height: 37.5px;
    cursor: pointer;
}

div#description .quantity{
    width: 100%;
    height: 30px;
    margin-bottom: 25px;
    text-align: center;
}

div#description .quantity OpenSans{
    font-weight: bold;
    line-height: 30px;
    color: #606060;
    font-family: 'Alegreya';
    font-size: 1.1em;
}

div#description .quantity OpenSans:first-of-type{
    float: left;
}

div#description .quantity OpenSans:last-of-type{
    float: right;
}

div#description .quantity input{
    float: right;
    height: 100%;
    width: 75px;
    text-align: center;
    border: none;
    margin-right: 10px;
    border-bottom: 1px solid #a9a9a9;
    padding-left: 5px;
}

div#description .sum{
    width: 100%;
    height: 40px;
    text-align: center;
}

div#description .sum OpenSans{
    float: right;
    font-family: sail;
    line-height: 35px;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    color:#ff6d84;
    margin-right: 10px;
}

div#photos{
    width: 45%;
    padding: 0;
    height: auto;
    float: left;
}

div#photos .main-photo{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

div#photos .main-photo img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

@media only screen and (max-width: 450px) {

    div#photos{
        width: 100%;
        float: none;
    }

    div#description{
        padding: 0;
        width: 100%;
        margin-left: 0;
        float: none;
    }

}