{% extends "private/page-base.html.twig" %}

{% block pageStylesheets %}

    <link rel="stylesheet" href="{{ asset('css/private/table.css') }}">
    <link rel="stylesheet" href="{{ asset('css/private/pagination.css') }}">

{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

        <h2>Kategorijos</h2>

        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/admin/category/add" class="btn btn-sm btn-secondary">Pridėti kategoriją</a>
            </div>
        </div>

    </div>

    {% include 'private/categories/sections/table.html.twig' %}

{% endblock %}

{% block modals %}

    {% include 'private/modals/delete-confirmation-modal.html.twig' %}

{% endblock %}

{% block javascripts %}

    <script type="application/javascript" src="{{ asset("js/private/delete-confirmation.js") }}"></script>

{% endblock %}