{% extends "public/page-base.html.twig" %}

{% block pageStylesheets %}

    <link rel="stylesheet" href="{{ asset('css/gallery.css') }}">
    <link rel="stylesheet" href="{{ asset('css/page-base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/pagination.css') }}">

{% endblock %}

{% block content %}

    <main>

        <section id="gallery">

            <h2>{{ gallery.title }}</h2>

            {% include 'public/gallery/sections/photos.html.twig' %}

        </section>

    </main>

{% endblock %}