<footer>

    <div class="inner-content">

        <h2>Apie mus</h2>

        <p>
            Kad išmokti padaryti tobulą desertą, reikia labai daug laiko, paieškų, begalės bandymų.
            Apie nepavykusius eksperimentus visi nutyli. Todėl aš siųlau pasimokyti ir pabandyti kartu jau patikrintus, išbandytus ir ištobulintus desertų receptus.
            Juk kartu ir smagiau ir lengviau. Kviečiu prisijungti prie desertų akademijos Red Velvet organizuojamų mokymų. Jums tereiks atsinešti
            gerą nuotaiką, visu kitu pasirūpinsiu aš. Iki malonių susitikimų akademijoje!
        </p>

        <h2>Kur mus rasti?</h2>

        <section id="map">

        </section>

        <p>Visos teisės saugomos © 2018</p>

    </div>

    <div class="cake-logo">

        <img src="{{ asset("img/cake.svg") }}">

    </div>

</footer>