<header>

    <nav>

        <div class="inner-content">

            <div>

                <a id="logo" href="/">

                    <img alt="logo" src="{{ asset('img/logo.jpg') }}">

                </a>

            </div>

            <div>

                <div class="menu-item"><a href="/">Pagrindinis puslapis</a></div>
                <div class="menu-item"><a href="/courses/1">Mokymai</a></div>
                <div class="menu-item"><a href="/products/1">Produktai</a></div>
                <div class="menu-item"><a href="/galleries/1">Galerija</a></div>
                <div class="menu-item"><a href="/contact">Kontaktai</a></div>

            </div>

        </div>

    </nav>

</header>

