<div class="notification">

    <div class="notification-header">

        <p>Pranešimas</p>
        <i class="material-icons" onclick="closeNotification()">highlight_off</i>

    </div>

    <div class="notification-content">

        <div class="icon">

            <img src="{{ asset("img/cake.svg") }}">

        </div>

        <div>

            <p>Prekė sėkmingai pridėta į krepšelį</p>

        </div>

    </div>

</div>