<table class="table table-striped">

    {% include 'private/products/sections/table-header.html.twig' %}
    {% include 'private/products/sections/table-body.html.twig' %}
    {% include 'private/products/sections/pagination.html.twig' %}

</table>